In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime, time
import sklearn, sklearn.metrics, sklearn.linear_model, sklearn.ensemble, sklearn.preprocessing

import modutils

data_dir = '../DataSets/Churn/'

In [2]:
src = pd.read_csv(data_dir + 'tmp_tran_last.csv')

In [3]:
src[:10]

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel,is_churn,is_first,is_last
0,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,41,30,99,99,1,20170215,20170315,0,0,0,1
1,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,39,30,149,149,1,20170131,20170319,0,0,0,1
2,+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=,41,30,149,149,1,20170226,20170326,0,0,0,1
3,++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=,41,30,149,149,1,20170215,20170315,0,0,0,1
4,++/UDNo9DLrxT8QVGiDi1OnWfczAdEwThaVyD0fXO50=,39,30,149,149,1,20170131,20170323,0,0,0,1
5,++/ZHqwUNa7U21Qz+zqteiXlZapxey86l6eEorrak/g=,14,30,149,149,1,20170131,20170304,0,0,0,1
6,++0/NopttBsaAn6qHZA2AWWrDg7Me7UOMs1vsyo4tSI=,41,30,149,149,1,20170220,20170320,0,0,0,1
7,++0BJXY8tpirgIhJR14LDM1pnaRosjD1mdO1mIKxlJA=,38,30,149,149,0,20170224,20170326,0,0,0,1
8,++0EzISdtKY48Z0GY62jer/LFQwrNIAbADdtU5xStGY=,38,120,477,477,0,20161024,20170221,0,0,0,1
9,++0wqjjQge1mBBe5r4ciHGKwtF/m322zkra7CK8I+Mw=,41,30,99,99,1,20170206,20170306,0,0,0,1

In [4]:
metrics = {'msno':'count','is_churn':'mean','is_auto_renew':'mean','is_cancel':'mean','is_first':'mean'}

In [5]:
src.groupby('is_auto_renew').agg(metrics).sort_values('msno', ascending=False)

                 msno  is_churn  is_auto_renew  is_cancel  is_first
is_auto_renew
1              882746  0.031087              1   0.035821  0.001797
0              110185  0.326986              0   0.000000  0.107283

In [6]:
src.groupby('is_cancel').agg(metrics).sort_values('msno', ascending=False)

             msno  is_churn  is_auto_renew  is_cancel  is_first
is_cancel
0          961310  0.040563        0.88538          0  0.013927
1           31621  0.774074        1.00000          1  0.000601

In [7]:
src.groupby(['is_auto_renew','is_cancel']).agg(metrics).sort_values('msno', ascending=False)

                           msno  is_churn  is_auto_renew  is_cancel  is_first
is_auto_renew is_cancel
1             0          851125  0.003484              1          0  0.001841
0             0          110185  0.326986              0          0  0.107283
1             1           31621  0.774074              1          1  0.000601

In [8]:
src.groupby(['is_first','is_auto_renew','is_cancel']).agg(metrics).sort_values('msno', ascending=False)

                                    msno  is_churn  is_auto_renew  is_cancel  \
is_first is_auto_renew is_cancel
0        1             0          849558  0.002925              1          0
         0             0           98364  0.283579              0          0
         1             1           31602  0.773970              1          1
1        0             0           11821  0.688182              0          0
         1             0            1567  0.306318              1          0
                       1              19  0.947368              1          1

                                  is_first
is_first is_auto_renew is_cancel
0        1             0                 0
         0             0                 0
         1             1                 0
1        0             0                 1
         1             0                 1
                       1                 1

In [11]:
src['combined_3features'] = src.is_first.astype(str)+src.is_auto_renew.astype(str)+src.is_cancel.astype(str)
(f3_gini, f3_acc, f3_lloss, f3_illoss) = modutils.calcBinClassMetrics_Discrete(src.combined_3features.values.reshape(-1,1), src.is_churn)
print('Gini = {0:.3f}, Accuracy = {1:.3f}, Log-Loss-Class = {2:.3f}'.format(f3_gini, f3_acc, f3_illoss))

Gini = 0.907, Accuracy = 0.958, Log-Loss-Class = 1.450

In [13]:
#majority is recurring customer with auto-renewal and who won't cancel
src_maj = src[(src.is_first==0)&(src.is_auto_renew==1)&(src.is_cancel==0)].copy()
src_man = src[(src.is_first==0)&(src.is_auto_renew==0)&(src.is_cancel==0)].copy()

## Majority analysis

In [ ]:
src_maj.describe()
#payment plan days is

In [ ]:
src_maj.groupby('payment_method_id').agg({'msno':'count','is_churn':'mean'}).sort_values('msno', ascending=False)

In [ ]:
src_maj.groupby('plan_list_price').agg({'msno':'count','is_churn':'mean'}).sort_values('msno', ascending=False)

In [ ]:
src_maj[src_maj.plan_list_price==99].describe()

## Manual payment, no cancel analysis (2nd largest group)

In [ ]:
src_man.describe()

In [ ]:
src_man.groupby('payment_method_id').agg({'msno':'count','is_churn':'mean'}).sort_values('msno', ascending=False)

In [ ]:
src_man.groupby('payment_plan_days').agg({'msno':'count','is_churn':'mean'}).sort_values('msno', ascending=False)

In [ ]:
src_man.groupby('plan_list_price').agg({'msno':'count','is_churn':'mean'}).sort_values('msno', ascending=False)

In [ ]:
src_man[src_man.payment_plan_days==30].groupby('payment_method_id').agg({'msno':'count','is_churn':'mean'}).sort_values('msno', ascending=False)

In [ ]:
src_man[src_man.payment_plan_days==30].groupby('plan_list_price').agg({'msno':'count','is_churn':'mean'}).sort_values('msno', ascending=False)

In [ ]:
src_man[src_man.payment_plan_days==30].groupby('actual_amount_paid').agg({'msno':'count','is_churn':'mean'}).sort_values('msno', ascending=False)

In [14]:
conv_to_date = lambda x: datetime.date(x // 10000, (x // 100) % 100, x % 100)

src_man['dt_exp'] = src_man.membership_expire_date.map(conv_to_date)
src_man['dt_tran'] = src_man.transaction_date.map(conv_to_date)
src_man['dt_diff'] = (src_man.dt_exp - src_man.dt_tran).map(lambda x: x.days)
src_man['dt_tran_wd'] = src_man.dt_tran.map(lambda x: x.weekday())
src_man['dt_exp_wd'] = src_man.dt_exp.map(lambda x: x.weekday())
src_man['dt_tran_diff'] = (src_man.dt_tran.max() - src_man.dt_tran).map(lambda x: x.days)
src_man['dt_exp_diff'] = (src_man.dt_exp.max() - src_man.dt_exp).map(lambda x: x.days)

In [ ]:
src_man[:10]

In [ ]:
src_man[src_man.payment_plan_days==30].groupby('dt_tran_diff').agg({'msno':'count','is_churn':'mean'})

In [ ]:
src_man[src_man.payment_plan_days==30].groupby('dt_exp_wd').agg({'msno':'count','is_churn':'mean'})

In [ ]:
src_man[src_man.payment_plan_days==30].groupby('memexp_ym').agg({'msno':'count','is_churn':'mean'})

In [ ]:
src_man[(src_man.payment_plan_days==30)&(src_man.memexp_ym>=201702)].groupby(['memexp_ym','memexp_md']).agg({'msno':'count','is_churn':'mean'})

In [21]:
Xt0 = src_man[src_man.payment_plan_days==30].dt_exp_diff.values.reshape(-1,1)
Xt = np.hstack([Xt0, np.log(1+Xt0), 1*(Xt0<5), 1*(Xt0<15), 1*(Xt0<25), 1*(Xt0<30), 1*(Xt0<60)])
Yt = src_man[src_man.payment_plan_days==30].is_churn.values
m_lr0 = sklearn.linear_model.LogisticRegression().fit(Xt0, Yt)
m_lr = sklearn.linear_model.LogisticRegression().fit(Xt, Yt)
m_gb = sklearn.ensemble.GradientBoostingClassifier().fit(Xt, Yt)

In [25]:
(dt_gini, dt_acc, _, dt_illoss) = modutils.calcBinClassMetrics_Discrete(src_man[src_man.payment_plan_days==30].payment_plan_days.values.reshape(-1,1),
                                                                            src_man[src_man.payment_plan_days==30].is_churn.values)

print('Quality: Gini = {0:.3f}, Accuracy = {1:.3f}, i-LogLoss = {2:.3f}'.format(dt_gini, dt_acc, dt_illoss))

Quality: Gini = 0.000, Accuracy = 0.763, i-LogLoss = 8.174

In [26]:
(dt_gini, dt_acc, _, dt_illoss) = modutils.calcBinClassMetrics_Discrete(src_man[src_man.payment_plan_days==30].dt_exp_diff.values.reshape(-1,1),
                                                                            src_man[src_man.payment_plan_days==30].is_churn.values)

print('Quality: Gini = {0:.3f}, Accuracy = {1:.3f}, i-LogLoss = {2:.3f}'.format(dt_gini, dt_acc, dt_illoss))

Quality: Gini = 0.634, Accuracy = 0.830, i-LogLoss = 5.877

In [22]:
(dt_gini, dt_acc, _, _) = modutils.calcBinClassMetrics_Continuous(src_man[src_man.payment_plan_days==30].dt_exp_diff.values.reshape(-1,1),
                                                                            src_man[src_man.payment_plan_days==30].is_churn.values)

print('Quality: Gini = {0:.3f}, Accuracy = {1:.3f}'.format(dt_gini, dt_acc))

Quality: Gini = 0.624, Accuracy = 0.824